<div class="container">
    <div class="card">
        
        

        <form (ngSubmit)="doSubmitForm()">
            
            <h1>Compose Email </h1> 
            <mat-form-field class="field" appearance="outline">
                <mat-label>To</mat-label>
                <input id="to" name="to" [(ngModel)]="data.to" matInput type="email" required>
            </mat-form-field>


            <mat-form-field class="field" appearance="outline">
                <mat-label>Subject</mat-label>
                <input id="subject" name="subject" [(ngModel)]='data.subject' matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width field" >
                <mat-label >Message</mat-label >
                <textarea name="message" [(ngModel)]='data.message' rows="8" matInput ></textarea>
            </mat-form-field>
            <mat-progress-spinner *ngIf="!spinerFlag" class="spiner" mode="indeterminate"></mat-progress-spinner>
           
            <div class="text-center">
                <button [disabled]="!spinerFlag" type="submit" mat-raised-button color="primary">Send</button>
                <button type="reset" mat-button style="background-color: orange;color: whitesmoke;">Reset</button>
            </div>
        </form>
        <!-- {{data|json}} -->
    </div>
</div>